.bookCatalog-container {
  width: 100%;
  max-width: 74rem;
  padding: 0 1.875rem;
  margin: 2rem auto;
}

.bookCatalog-container header {
  display: flex;
  align-items: center;
}

.bookCatalog-container header span {
  font-size: 1.25rem;
  margin-left: 1.5rem;
}

.bookCatalog-container header span strong {
  color: #251fc5;
}

.bookCatalog-container header img {
  height: 4rem;
}

.bookCatalog-container header a {
  width: 16rem;
  margin-left: auto;
  margin-top: 0;  
}

.searchField {
  margin-left: 5rem;
}

.bookCatalog-container h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  font-size: medium;
}

.bookCatalog-container table tbody td {
  background: #ffffff;
  padding: 0.5rem;
  position: relative;   
}

.titulo {
  width: 20rem;
}

.autor {
  width: 12rem;
}

.editora {
  width: 10rem;
}

.anoPublicacao {
  width: 6rem;
}

.edicao {
  width: 4rem;
}

.assunto {
  width: 10rem;
}

.bookCatalog-container table tbody td button {
  width: 2rem;
  position: absolute;
  right: 1rem;
  top: 0.3rem;
  border: 0;
  background: transparent;
}

.bookCatalog-container table tbody td button:hover {
  opacity: 0.5;
}
